{:name "ui-codemirror-js"
 ; build
 :lazy-sci true
 :cljs-namespace [; for interactions with codemirror instance:
                  ui.codemirror.registry
                  ui.codemirror.unbound.theme
                  ui.codemirror.api.code
                  ui.codemirror.api.position
                  ui.codemirror.api.focus]
 :cljs-ns-bindings {'cm {'style-inline ui.codemirror.unbound.theme/style-codemirror-inline
                         'style-fullscreen ui.codemirror.unbound.theme/style-codemirror-fullscreen
                         'get ui.codemirror.registry/get-editor
                         'focus ui.codemirror.api.focus/focus
                         'blur ui.codemirror.api.focus/blur
                         'set-code ui.codemirror.api.code/set-code
                         'get-code ui.codemirror.api.code/get-code
                         'cursor-position ui.codemirror.api.position/cursor-position}}}
